<div id="main-layout">
    <div id="navbar">

        <!-- for nav item selected -->
        <img class="nav_selected" src="../public/icons/vertical-line.png" alt="">
        
        <div class="logo">
            <img class="logo" src="../public/icons/logo.png" alt="">
        </div>
        <nav class="navbar">
            <ul class="navbar-ul">
                <li class="nav-items nav-item-landing nav-item_selected"><a class="nav-link" href="http://localhost:3000/landing"><i class="fas fa-home"></i></a></li>
                <li class="nav-items nav-item-profile"><a class="nav-link" href="http://localhost:3000/profile"><i class="fas fa-user"></i></a></li>
                <li class="nav-items nav-item-projects"><a class="nav-link" href="http://localhost:3000/add"><i class="fas fa-tasks"></i></a></li>
                <li class="nav-items nav-item-search"><a class="nav-link" href="http://localhost:3000/search"><i class="fas fa-search"></i></a></li>
                <li class="nav-items nav-item-add"><a class="nav-link" href="http://localhost:3000/add"><i class="fas fa-plus"></i></a></li>
            </ul>
        </nav>
    </div>

<!-- Closing tag is in footer -->