<%- include("header.ejs") -%> 


<div id="screen-useradded">
    <h1 class="usernotadded"> Developer ID already Exists </h1>
    <img class="useradded-img" src="../public/icons/usernotadded.svg" alt="">
    
    <a href="http://localhost:3000/add">Refill Form</a>
</div>



<%- include("footer.ejs") -%> 
