<%- include("header.ejs") -%>

<div
  style="
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  "
  id="screen-updated"
>
  <h1 class="updated">Information Updated!</h1>
  <img class="useradded-img" src="../public/icons/useradded.svg" alt="" />

  <a href="http://localhost:3000/profile">Back to Profile</a>
</div>

<%- include("footer.ejs") -%>
