<%- include("header.ejs") -%> 


<div id="screen-useradded">
    <h1 class="useradded">User Added Successfully!</h1>
    <img class="useradded-img" src="../public/icons/useradded.svg" alt="">
    
    <a href="http://localhost:3000/landing">Back to Home Screen</a>
</div>



<%- include("footer.ejs") -%> 
