<div id="side">
    <h3 class="side-heading side-heading-a">
        Welcome Back,
    </h3>
    <h3 class="side-heading side-heading-b">
        <%= aProfileName %> 
    </h3>


    <img class="deco-svg side-svg-1" src="../public/icons/side.svg" alt="">

<img class="loader" src="../public/icons/loa.gif" alt="">
    
    
    <p class="side-id">
        <%= aProfileID %> 
    </p>
    <a href="http://localhost:3000/">Log Out</a>
</div>
