<%- include("header.ejs") -%> 


<div id="">
    <form action="updateAddress" method="post">
        <input type="text" name="address" placeholder="Enter New Address">
        <button type="submit">Change Address</button>
    </form> 
</div>



<%- include("footer.ejs") -%> 
