<%- include("header.ejs") -%> 


<div id="">
    <form action="updateAccount" method="post">
        <input type="text" name="account" placeholder="Enter New Account">
        <button type="submit">Change Account</button>
    </form> 
</div>



<%- include("footer.ejs") -%> 
