.landing-info{
    display: flex;
    gap: 7rem;
    align-items: center;
    padding: 0 2rem;
}


.landing-info-left{
    display: flex;
    gap: 2rem;
}


.landing-info-pp{
    display: flex;
    align-items: center;
}

.landing-info-pp img{
    border-radius: 50%;
    width: 120px;
    height: 120px;
}

.landing-info-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: (--black);
}

.landing-info-name{
    font-size: 1.5rem;
    font-weight: 600;
}

.landing-info-id{
    font-size: 1.05rem;
    opacity: 0.8;
    display: flex;
    gap: 0.7rem;
    
}
.landing-info-college{
    font-size: 1rem;
    opacity: 0.75;
}






.landing-info-cards{
    display: flex;
    gap: 0.2rem;
}

.landing-info-card{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    gap: 1.8rem;
    border:2px solid #D9DDDC;
    padding: 1rem 2rem;
    text-align: center;
    border-radius: 5px;
}

.landing-info-card i{
    font-size: 1.5rem;
    background-color: var(--sec-green);
    color: var(--white);
    border-radius: 50%;
    padding: 0.8rem;
}


#graphs{
    display: flex;
}